<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="../../resources/static/styles/style_for_edit_pages.css" rel="stylesheet"> <!-- DELETE -->
  <title>Edit user</title>
</head>
<body>
<h2 align="center">User changer</h2>
<form th:method="PATCH" th:action="@{/users/edit}" th:object="${user}">
  <input type="hidden" name="id" th:value="${user.getId()}">
  <table>
    <tr>
      <td>Username: </td>
      <td><input type="text" th:field="*{username}" id="username" required placeholder="Username"/></td>
    </tr>
    <tr>
      <td>First name: </td>
      <td><input type="text" th:field="*{firstName}" id="firstName" required placeholder="Имя"/></td>
    </tr>
    <tr>
      <td>Last name: </td>
      <td><input type="text" th:field="*{lastName}" id="lastName" required placeholder="Фамилия"/></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><input type="text" th:field="*{email}" id="email" required placeholder="Email@mail.ru"/></td>
    </tr>
    <tr>
      <td>Age: </td>
      <td><input type="number" th:field="*{age}" id="age" required placeholder="20"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
</body>
</html>